<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cc.android.zrouter">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <service
            android:name=".router.WideRouterConnectService"
            android:process="com.ccclubs.corelib.widerouter" />
    </application>
</manifest>